:root {
  --font-family: "Inter", sans-serif;

  --gray-900: #141414;
  --gray-800: #1f1f1f;
  --gray-700: #333333;
  --green: #c4f82a;
  --white: #ffffff;
  --text-preset-1: 600 24px/150% var(--font-family);
  --text-preset-2: 400 14px/150% var(--font-family);
  --text-preset-2b: 700 14px/150% var(--font-family);
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--gray-900);
}


main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--space-300);

  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 279px;
  max-width: 384px;
  padding: var(--space-300);
  text-align: center;
  border-radius: 12px;
  background-color: var(--gray-800);

  gap: var(--space-300);
}

@media (min-width: 768px) {
  .profile {
    padding: var(--space-500);
  }
}

.profile-avatar {
  overflow: hidden;
  width: 88px;
  height: 88px;
  border-radius: 88px;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: var(--space-50);
}

.profile-name {
  font: var(--text-preset-1);
  color: var(--white);
}

.profile-location {
  font: var(--text-preset-2b);
  color: var(--green);
}

.profile-description {
  font: var(--text-preset-2);
  color: var(--white);
}

.profile-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  gap: var(--space-200);
}

.profile-link {
  font: var(--text-preset-2b);
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-150);
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--white);
  border-radius: 8px;
  background-color: var(--gray-700);

  justify-content: center;
  gap: var(--space-100);
}

.profile-link:hover {
  color: var(--gray-700);
  background-color: var(--green);
}
